<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  *ngIf="isDataPresent"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Product Name / SKU</th>
    <td mat-cell *matCellDef="let element">{{ element['name'] }}</td>
  </ng-container>
  <ng-container matColumnDef="newCost">
    <th mat-header-cell *matHeaderCellDef>New Cost</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="element['newCost']" />
      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="newQty">
    <th mat-header-cell *matHeaderCellDef>New Qty (Tax Exclusive)</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="element['newQty']" />
      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="taxCode">
    <th mat-header-cell *matHeaderCellDef>Tax Code</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="element['taxCode']">
          <mat-option value="ValueAddedTax">Value Added Tax</mat-option>
          <mat-option value="NoTax">No Tax</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          $event.stopPropagation();
          expandedElement = expandedElement === element ? null : element
        "
      >
        <mat-icon *ngIf="expandedElement !== element">
          keyboard_arrow_down
        </mat-icon>
        <mat-icon *ngIf="expandedElement === element">
          keyboard_arrow_up
        </mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="handleRemove(element)"
        color="warn"
      >
        <mat-icon> delete_outline </mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <div>
          <p>Available Qty(Available in stock)</p>
          <p>{{ element['availableQty'] }}</p>
        </div>
        <div>
          <p>Total Cost(Tax Exclusive)</p>
          <p>{{ calculateCost(element) }}</p>
        </div>
        <div>
          <p>Expected Qty(Total will be available)</p>
          <p>{{ element['expectedQty'] }}</p>
        </div>
        <div>
          <p>Tax Amount</p>
          <p>{{ calculateTax(element) }}</p>
        </div>
        <div>
          <p>Last Buy Price</p>
          <p>{{ element['lastBuyPrice'] }}</p>
        </div>
        <div>
          <p>Tax Cost(Tax Inclusive)</p>
          <p>{{ calculateCost(element, true) }}</p>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>
