:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 60%;
}

:host mat-form-field {
  width: 40%;
}

.products mat-card-content p {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.payment-section {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.payment-options {
  margin: 20px 0;
}
