<form>
  <mat-card class="products">
    <mat-card-header>
      <h3>Products</h3>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-icon> info_outline </mat-icon>
        <span>
          Products Qty, the average product cost and the latest buying price are
          updated after completing the purchase order.
        </span>
      </p>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          type="text"
          name="product"
          [formControl]="productVariantControl"
          [matAutocomplete]="auto"
          placeholder="Type Variant name or SKU"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
          <mat-option
            *ngFor="let option of filteredProductOptions$ | async"
            [value]="option"
            (onSelectionChange)="handleSelectionChange($event)"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <app-products-table
        [dataSource]="selectedProducts$"
        (onRemoveItem)="handleRemoveItemFromList($event)"
      ></app-products-table>
      <!-- Summary -->
      <div>
        <p>
          Sub Total (Tax Exclusive): <strong>{{ calculateTotalCost() }}</strong>
        </p>
        <p>
          Total Tax: <strong>{{ calculateTotalTax() }}</strong>
        </p>
        <p>
          Total (Tax Inclusive): <strong>{{ calculateTotalCost(true) }}</strong>
        </p>
      </div>
      <!-- Payment -->
      <form [formGroup]="productForm">
        <div class="payment-options">
          <mat-radio-group
            formControlName="payNowOrLater"
            color="primary"
            name="payNowOrLater"
          >
            <mat-radio-button value="payNow">Pay Now</mat-radio-button>
            <mat-radio-button value="payLater">Pay Later</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="isPayingNow" class="payment-section">
          <div>Payment Method</div>
          <div>
            <mat-form-field appearance="outline">
              <mat-select
                formControlName="paymentMethod"
                placeholder="Select a method"
                name="paymentMethod"
              >
                <mat-option value="cash">Cash</mat-option>
                <mat-option value="creditCard">Credit Card</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>Paid Amount</div>
          <div>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="number"
                required
                formControlName="paidAmount"
                name="paidAmount"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="payment-section">
          <div>Credit Amount</div>
          <div>{{ calculateCreditAmount() }}</div>

          <div>Payment Due Date</div>
          <div>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="date"
                required
                formControlName="paymentDueDate"
                name="paymentDueDate"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button color="primary">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        (click)="$event.preventDefault(); handleSubmit($event)"
      >
        Complete Order
      </button>
    </mat-card-actions>
  </mat-card>
</form>
