<form class="place-order-form">
  <!-- Order details form -->
  <mat-card class="order-details">
    <mat-card-header> <h3>Order Details</h3></mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Supplier Name</mat-label>
        <input
          matInput
          type="text"
          name="supplier-name"
          [(ngModel)]="supplierName"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input
          matInput
          type="text"
          name="location"
          [(ngModel)]="location"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Supplier Invoice Number</mat-label>
        <input
          matInput
          type="text"
          [pattern]="supplierInvoiceNumberPattern"
          name="supplier-invoice-number"
          [(ngModel)]="supplierInvoiceNumber"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          name="notes"
          maxlength="200"
          cols="30"
          rows="10"
          [(ngModel)]="notes"
        ></textarea>
        <small>{{ notes.length }}/200</small>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <!-- Products form -->
  <mat-card class="products">
    <mat-card-header> <h3>Products</h3> </mat-card-header>
    <mat-card-content>
      <p style="display: flex; align-items: center; column-gap: 5px">
        <mat-icon> info_outline </mat-icon>
        <span>
          Products Qty, the average product cost and the latest buying price are
          updated after completing the purchase order.
        </span>
      </p>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          type="text"
          name="product"
          [formControl]="productVariantControl"
          [matAutocomplete]="auto"
          placeholder="Type Variant name or SKU"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
          <mat-option
            *ngFor="let option of filteredProductOptions$ | async"
            [value]="option"
          >
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>
